@{
    ViewBag.Title = "Home Page";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<div class="container">
    <h2>Smart Document Upload Center</h2>

    @using (Html.BeginForm("Index", "Home", FormMethod.Post,
            new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <fieldset>
            <legend>Upload a file</legend>
            <div class="editor-field">
                @Html.TextBox("file", "", new { type = "file" })
            </div>
            <div class="editor-field">
                <input type="submit" value="Show Preview" id="btnUpload"/>
            </div>
        </fieldset>
    }
</div>
<div class="container" style="padding:10px">
    <button id="submit">Upload</button>
    <button id="cancel">Cancel</button>
</div>


<script type="text/javascript">
    var $submit = false;
    var path = null;

    $(document).ready(function () {
        $("#cancel").hide();
        $("#submit").hide();
        $("#cancel").click(function () {
            location.reload();
        });

        // Display preview if there is one
        var message = "@ViewBag.Message";
        if (message != null && message != "") {
            $(function () {
                if (message != "Could not validate your document.") {
                    $("#cancel").show();
                    $("#submit").show();
                    $("#btnUpload").hide();
                }
                if (message == "Upload failed")
                {
                    $("#cancel").hide();
                    $("#submit").hide();
                    $("#btnUpload").show();
                }
                alert(message);
            });
        }

        $("#submit").click(function () {
            $.post("/Home/UpdateDB", { save: true }, function () {

            });

            alert("Your SmartDoc has been uploaded!");
            // Don't reload the page
            event.preventDefault();
            $("#cancel").hide();
            $("#submit").hide();
            $("#btnUpload").show();
        });

        $("#cancel").click(function () {
            $.post("/Home/UpdateDB", { save: false }, function () {

            });

            alert("Your SmartDoc has NOT been uploaded!");
            // Don't reload the page
            event.preventDefault();
            $("#cancel").hide();
            $("#submit").hide();
            $("#btnUpload").show();
        });

    });

    function show(e) {
        path = e.value;
    }



</script>
